/* File: The-Egg.css */
/* Author: Alfin Abraham */
/* Created: 2023-08-16 */
/* Last Modified: 2023-08-20 */
/* Description: This file contains the CSS code for The-Egg.html file */

/* License: MIT License */
/* You can find the full text of the MIT License at: */
/* https://opensource.org/licenses/MIT */


body {
    background-color: rgba(234, 19, 62, 0.897);
}

.container {
    display: flex;
    position: absolute;
    max-height: 90vh;
    width: 60%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 208, 255, 0.804);
    box-shadow: 10px 10px 50px 20px rgba(26, 25, 25, 0.526);
    border-radius: 45px;
}

h1, h2, p {
    margin: 7px;
}

h1 {
    font-family: 'Lucida Sans';
    font-weight: 200;
}

h2 {
    font-weight: 100;
    font-family: 'Lucida Sans';
}

p {
    font-family: 'Helvetica';
    
}

#content {
    font-family: Verdana;
    margin: 10px;
}

mark {
    background-color: rgba(255, 255, 0, 0.622) ;
}

iframe {
    margin: 20px;
    border-style: none;
    border-radius: 35px;
    width: 400px;
    height: 685px;
    box-shadow: 4px 6px 30px 0px rgba(26, 25, 25, 0.64);
}

iframe:hover {
    transform: scale(1.1);
    box-shadow: 8px 12px 60px 0px rgba(26, 25, 25, 0.64);
}

/* for mobile */
@media only screen and (max-width: 600px){
    .container {
        max-width: 100%;
        max-height: 100%;
        width: 85%;
        height: auto;
        border-radius: 40px;
        
    }
    h1 {
        font-size: 24px;
        font-weight:bold;
        margin-top: 20px;
    }
    h2 {
        font-size: 20px; 
    }
    iframe {
        max-width: 88%;
        width: 100%;
        height: auto;
    }
}



/* for ipads */
@media only screen and (min-width: 768px) and (min-height: 1024px){
    .container{
        max-width: 100%;
        max-height: 100%;
        width: 90%;
    }
    iframe {
        max-width: 90%;
        width: 80%;
        height: 400px;
    }
}